                                        /* Főoldal */
 html, body{
    
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to bottom,rgb(82, 94, 80) 10%, white);
    background-attachment: fixed;
    min-height: 100vh;
}

.cim{
    color:black;
    padding: 10px;
    font-style: italic;
    font-weight: bolder;
    justify-self: center;
    border:none ;
    background-color: rgba(191, 232, 178, 0.763);
   border-radius: 15px;
   margin: 0 auto;
   text-align: center;
   font-family:Georgia, 'Times New Roman', Times, serif;
   
}

.udv{
    margin: 80px;
    word-spacing: 5px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    
}

.udv::first-letter{
    font-size: xx-large;
    color: rgb(133, 88, 5);
    padding-left: 20px;
}

header{
    
    width: 100%;
    padding-top: 50px;
    height: 150px;
    background-image: url(img/erdő.jpg);
    
}

.navbar{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: rgb(43, 64, 40);
            color: white;
            border: solid black 2px;
        }

        .nav-links{
            list-style: none;
            display:flex;
            gap: 20px;
        }

        .nav-links li a {
            color: orange;
            text-decoration: none;
            font-size: 18px;
        }

        .nav-links li:hover{
            transform: scale(1.1);
           text-shadow: 10px 10px 5px rgb(6, 37, 3);
        
        }


        .menu-toggle{
            display: none;
            cursor: pointer;
        }

        .menu-toggle .bar{
            width: 30px;
            height: 3px;
            background-color: white;
            margin: 5px 0;
        }
  
        
        

        .container1{
            margin: 10px;
            padding: 50px;
            display: grid;
             grid-template-areas:
                "kep1 kepsz1"
                "kepsz2 kep2"
                "kep3 kepsz3"
                "kepsz4 kep4";
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                align-items: center;
            
        }

        .container1 img{
            border: 5px none rgb(26, 56, 17);
            box-shadow: 10px 10px 10px rgb(17, 52, 6);
            width: 400px;
            height: 350px;
            display: block;
        }


        .container1 img:hover{
            box-shadow: 20px 20px 20px rgb(137, 92, 8);
            transform: scale(1.1);
            transition: 1.05s;
        }

        .kepsz1 h2{
            text-align: center;
        }

        .kepsz1{
            
            padding: 10px;
           
            border-radius: 15px;
        }

        .kepsz1, .kepsz2, .kepsz3, .kepsz4{
            padding: 20px;
            text-align: justify;
            border: 2px solid orange;
            border-radius: 15px;
        }


 .kep1, .kep3 { justify-self: start; }
.kep2, .kep4 { justify-self:right; }   

.kepsz1, .kepsz3 { justify-self: end; } 
.kepsz2, .kepsz4 { justify-self: left; } 



        .kep1   { grid-area: kep1; }
        .kepsz1 { grid-area: kepsz1; }

        .kep2   { grid-area: kep2; }
        .kepsz2 { grid-area: kepsz2; }

        .kep3   { grid-area: kep3; }
        .kepsz3 { grid-area: kepsz3; }

        .kep4   { grid-area: kep4; }
        .kepsz4 { grid-area: kepsz4; }

        footer{
            display: flex;
            border-top: 2px solid black;
            background-color: #2b4028;
            padding: 20px 5px 20px 20px;
        }

        .ajanlatkeres{
            
           padding: 20px;
            border: 1px solid black;
            border-radius: 15px;
            background-color: rgb(190, 196, 191);
            gap: 5px;
            width: 35%;
            height: 500px;
        }

        .kapcsolat{
            
            margin-left: 150px;
            padding: 10px;
           text-align: center;
           border: 3px solid black;
           background-color: rgb(190, 196, 191);
           border-radius: 15px;
           width: 35%;
           height: 20%;
           
            
        }




       .ajanlatkeres input, 
       .ajanlatkeres textarea{
        width: 100%;
       }

       
       

       .nevek{
        display: flex;
        gap: 5px;
        width: 100%;
        padding-bottom: 10px;
       }

       .nevek input{
        flex: 1;
       }

        input[type="submit"]{
            background-color: orange;
            padding: 20px;
            font-size:large;
        }

        input[type="submit"]:hover{
            transform: scale(1.03);
            transition: 1s;
            box-shadow: 5px 5px 0px 0px rgb(135, 139, 136);
        }


        .sikerUzenet {
            display: none;
            text-align: center;
            font-size: 200%;
             padding: 20px;
            border: 1px solid black;
            border-radius: 15px;
            background-color: rgb(190, 196, 191);
            flex-direction: column;
            gap: 5px;
            width: 35% ;
            height: 500px;
             
}

.sikerUzenet h2 {
    font-size: 80%;
    color: #2e7d32;
    
}


                                    /* szolgáltatások */


        .container2{
            margin: 10px;
            padding: 50px;
            display: grid;
             grid-template-areas:
                "szolgtext1 szolg1"
                "szolgtext2 szolg2"
                "szolgtext3 szolg3"
                "szolgtext4 szolg4"
                "szolgtext5 szolg5"
                "szolgtext6 szolg6";
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                align-items: center;
        
        }
        .container2 img{
            padding-left: 150px;
            border: 5px none rgb(26, 56, 17);
            border-radius: 50%;
            box-shadow: 10px 10px 10px rgb(17, 52, 6);
            width: 400px;
            height: 350px;
            display: block;
        }



        .szolgtext1, .szolgtext2, .szolgtext3, .szolgtext4, .szolgtext5, .szolgtext6{
            padding: 20px;
            text-align: justify;
            border: 2px solid orange;
            border-radius: 15px;
        }




        .szolg1   { grid-area: szolg1; }
        .szolgtext1 { grid-area: szolgtext1; }

        .szolg2   { grid-area: szolg2; }
        .szolgtext2 { grid-area: szolgtext2; }

        .szolg3   { grid-area: szolg3; }
        .szolgtext3 { grid-area: szolgtext3; }

        .szolg4   { grid-area: szolg4; }
        .szolgtext4 { grid-area: szolgtext4; }

        .szolg5   { grid-area: szolg5; }
        .szolgtext5 { grid-area: szolgtext5; }

        .szolg6   { grid-area: szolg6; }
        .szolgtext6 { grid-area: szolgtext6; }

      
                                    /* referencia */

.gal1, .gal2, .gal3{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    height: auto;
     background-color: orange;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 5px;
    margin-bottom: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    
     
}


.gal1 div , .gal2 div , .gal3 div{
    
    display: flex;
    align-items: center;    
    justify-content: center; 
    font-size: 24px;
    color: white;
    object-fit: cover;
   
}

.gal1 div img, .gal2 div img, .gal3 div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
     border: 1px solid orange;
    border-radius: 15px;
    cursor: pointer;
    
}



/* gal1 */

.galKep1{
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.galKep2{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.galKep3{
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.galKep4{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.galKep5{
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

/* gal2 */

.galKep6{
    grid-row: 1 / 5;
    grid-column: 1 / 3;
}

.galKep7{

    grid-row: 1 / 2;
    grid-column: 3 / 5;
}

.galKep8{
     grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.galKep9{
     grid-row: 3 / 4;
    grid-column: 3 / 5;
}

.galKep10{
     grid-row: 4 / 5;
    grid-column: 3 / 5;
}

/* gal3 */

.galKep11{
     grid-row:1 / 2;
    grid-column: 1 / 3;
}

.galKep12{
     grid-row: 1 / 2;
    grid-column: 3 / 5;
}

.galKep13{
     grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.galKep14{
     grid-row: 2 / 3;
    grid-column: 3 / 5;
}

.galKep15{
     grid-row: 3 / 4;
    grid-column: 1 / 5;
}



.fullscreen-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(104, 103, 103, 0.806);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
}

.fullscreen-img img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

                                    /* rólunk mondták */
   
    .slideContainer {
        border: 1px solid black;
        background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
  width: 300px;
  height: 550px;
  
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides p{
    font-style: italic;
}

.slides > div {
  min-width: 300px;
  text-align: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

.slide {
    
  width: 100%;
}

.sideBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}



                                        /* reszponzivitás */
@media screen and (max-width: 480px){
.container2 h2, h3{
    margin-right: auto;
    margin-left: auto;
    font-size: 90%;
    
}
}

@media screen and (max-width: 530px){
            .menu-toggle{
                display: block;
               
            }

            .nav-links{
                width: 150px;
                overflow: hidden;
                max-height: 0;
                display: block;
                flex-direction: column;
                position: absolute;
                left: 8px;
                top: 240px;
                background-color: rgb(43, 64, 40);
                transition: max-height 0.3s ease;
            }

            .nav-links li {
                text-align: center;
            }

            .nav-links.show{
                
                max-height: 200px;
            }

            .container1 img{
                display: none;
            }

            .ajanlatkeres [type="submit"]{
                font-size: 70%;
            }

        
        }


         @media screen and (max-width: 643px){
            .container2 img{
                display: none;
            }
        }

        @media screen and (max-width: 810px){
            

            .nevek, .kapcsolat a, textarea, .ajanlatkeres p{
                display: none;
            }

            .kapcsolat{
                margin-left: 10px;
            }

            .sikeruzenet h2, p{
                font-size:70%
            }
        }


        @media screen and (max-width: 900px){
            .container1{
                display: block;
            }
        }

        

        @media screen and (max-width: 1100px){
            .container2{
                display: block;
                
            }

            .container2 img{
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }

       